<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/underscore.min.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script type="text/javascript" src="/static/js/smoothie.js"></script>
    <script type="text/javascript" src="/static/js/heatmap.js"></script>
    <script type="text/javascript" src="/static/js/lib.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <meta id="accel-url" name="accel-url" value="{{ accel_url }}">
    <meta id="fsr-url" name="fsr-url" value="{{ fsr_url }}">
  </head>
  <body>
    <div id="heatmap">
      <!--  <canvas id="test" width="200" height="200"></canvas> -->
    </div>
    <div id="accelerometers">
      <h2>Accelerometer 1</h2>
      <canvas id="accel"></canvas>
    </div>
  </body>
</html>
